URxvt.font: xft:Source Code Pro:pixelsize=11:weight=medium
URxvt.letterSpace: -1

URxvt.scrollBar: False
URxvt.cursorBlink: True
URxvt.pointerBlank: True

URxvt.perl-ext-common: default,selection-to-clipboard

! colors generated using https://github.com/jangler/schematic
! dark black:    -L 43 -s 0
! dark colors:   -L 70 -s 27 -h 15
! dark white:    -L 70 -s 0
! bright black:  -L 83.5 -s 0
! bright colors: -L 86 -s 18 -h 15
! bright white:  -L 97 -s 0
URxvt.color0: #222222
URxvt.color1: #ba525a
URxvt.color2: #4d763f
URxvt.color3: #956134
URxvt.color4: #3371b4
URxvt.color5: #855b9f
URxvt.color6: #217d7a
URxvt.color7: #696969
URxvt.color8: #a3a3a3
URxvt.color9: #f99ba1
URxvt.color10: #95bb86
URxvt.color11: #daa879
URxvt.color12: #7fb7f1
URxvt.color13: #c9a3df
URxvt.color14: #6ac2bf
URxvt.color15: #eeeeee
URxvt.foreground: 15
URxvt.background: 0

! colors copied from chromeOS browser terminal
!URxvt.color0: #000000
!URxvt.color1: #cc0000
!URxvt.color2: #4e9a06
!URxvt.color3: #c4a000
!URxvt.color4: #3465a4
!URxvt.color5: #75507b
!URxvt.color6: #06989a
!URxvt.color7: #d3d7cf
!URxvt.color8: #555753
!URxvt.color9: #ef2929
!URxvt.color10: #00ba13
!URxvt.color11: #fce94f
!URxvt.color12: #729fcf
!URxvt.color13: #f200cb
!URxvt.color14: #00b5bd
!URxvt.color15: #eeeeec
!URxvt.foreground: #f0f0f0
!URxvt.background: #101010
!URxvt.cursorColor: #870808

! suckless.org colors
!URxvt.color0: #222222
!URxvt.color1: #a63a66
!URxvt.color2: #55591b
!URxvt.color3: #a54126
!URxvt.color4: #006699
!URxvt.color5: #4350b2
!URxvt.color6: #126944
!URxvt.color7: #eeeeee
!URxvt.color8: #666666
!URxvt.color9: #b74b75
!URxvt.color10: #666b29
!URxvt.color11: #b65234
!URxvt.color12: #1177aa
!URxvt.color13: #5760bf
!URxvt.color14: #207b56
!URxvt.color15: #ffffff
!URxvt.foreground: 0
!URxvt.background: 15
!URxvt.highlightColor: #eeeeee
